<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tigrinya Derivatives</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
</head>

<body class="p-4" ng-app="myApp">
<h2 class="py-4">Tigrinya Derivatives</h2>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<section class=" card " ng-controller="generateCtrl">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <select class="form-control" placeholder="tense" ng-model="tense">
                    <option value="PAST">PAST</option>
                    <option value="PRESENT">PRESENT</option>
                    <option value="POSSESSIVE">POSSESSIVE</option>
                    <option value="SUFFIX">SUFFIX</option>
                    <option value="PREFIX">PREFIX</option>
                </select>

            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="root"  ng-model="word">
            </div>
           <div class="col">
            <button type="submit" class="btn btn-primary float-right pull-right" ng-click="refresh()">  <span ng-bind="action"> </span> </button>

           </div>
        </div>


         </div>
    <div class="card-body">

        <table class="table">
            <tr  >
                <th><button class="btn btn-block btn-light"><span  ng-bind="data.count_unique"></span> / <span  ng-bind="data.count_all"></span> </button> </th>
                <th ng-repeat="(x,y) in data.map.I" >
                    <span ng-bind="x"> </span></th>
            </tr>
            <tr ng-repeat="(key, value) in data.map">

                <td><span ng-bind="key"></span></td>
                <td ng-repeat="(x,y) in value">
                    <span ng-class="{'text-success':y[1]>0,'text-muted':y[1]<=0  }" ng-bind="y[0]"></span></td>


        </table>
    </div>
</section>
</body>
</html>